.title-page {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;

    .text {
        font-family: "Yanone Kaffeesatz";
        font-size: 2.5vw;
        display: flex;
        justify-content: center;
        align-items: center;
        user-select: none;
    
        .wrapper {
            padding-left: 20px;
            padding-right: 20px;
            padding-top: 20px;
            .letter {
                transition: ease-out 1s;
                transform: translateY(40%);
            }
            .shadow {
                width: 0%;
                transform: scale(1, -1);
                color: #99999975;
                transition: ease-in 5s, ease-out 5s;
            }
            &:hover {
                .letter {
                    transform: translateY(0%);
                }
                .shadow {
                    opacity: 0%;
                    transform: translateY(40%);
                }
            }
        }
    }
}


/* Skills */
.containerSkills {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1vw;

}

.titleSkills {
    font-family: Garamond;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.containerSkillsIcons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    justify-content: space-between;
    margin-top: 1vw;

}

i {
    font-size: 5vw;
}

.js-icon,
.nodejs-icon,
.react-icon,
.git-icon,
.github-icon,
.express-icon,
.vs-icon,
.html-icon,
.css-icon,
.postgresql-icon,
.mysql-icon,
.ubuntu-icon,
.vs2-icon,
.vsCode-icon,
.github2-icon {
    transition: transform 0.3s ease-in-out;
}

.js-icon:hover,
.nodejs-icon:hover,
.react-icon:hover,
.git-icon:hover,
.github-icon:hover,
.express-icon:hover,
.vs-icon:hover,
.html-icon:hover,
.css-icon:hover,
.postgresql-icon:hover,
.mysql-icon:hover,
.vs2-icon:hover,
.vsCode-icon:hover,
.github2-icon:hover {
    -webkit-transform: scale(1.3);
    transform: scale(1.3);
}

.ubuntu-icon:hover {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}

/* Databases */
.containerDatabases {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1vw;
}

.titleDatabases {
    font-family: Garamond;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.containerDatabasesIcons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 1vw;
    width: 100%;
}

.postgresql-icon {
    margin-right: 7vw;
}

/* Workstation Tools */
.containerWorkstationTools {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 1vw;
}

.titleWorkstationTools {
    font-family: Garamond;
    font-size: 1.5vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.containerWorkstationToolsIcons {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin-top: 1vw;
    width: 100%;
}

.ubuntu-icon, .vs2-icon, .vsCode-icon, .github2-icon {
    padding-right: 7vw;
}