body {
    background: linear-gradient(90deg, rgb(0, 0, 0) 70%, #7028ff 100%);
}

.containerTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    height: 100%;
}

.title {
    padding-right: 1vw;
    color: white;
    display: flex;
    justify-content: center;
}

.containerContact {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 5vw;
}

.contactItem {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding-left: 20px;
  }

.logo {
    width: 50px;
    margin-right: 10px;
    opacity: 0.7;
    transition: opacity 0.5s ease;
}

.logo:hover {
    opacity: 1
}

.logoText {
    letter-spacing: 3px;
    font-family: 'Roboto', sans-serif;
    color: white;
    word-break: break-all;
}

.logoText:hover {
    text-decoration: underline;
}

.containerCode {
    display: flex;
    justify-content: center;
    align-items: center;
}

.code {
    opacity: 0.2;
    transition: opacity 0.5s ease;
}

.code:hover {
    opacity: 1
}

/* github */
.githubLink {
    text-decoration: none;
}

/* gmail */
.gmailLink {
    text-decoration: none;
}

/* linkedin */
.linkedinLink {
    text-decoration: none;
}

@media (max-width: 768px) {
    body {
        background: linear-gradient(90deg, rgb(0, 0, 0) 50%, #7028ff 100%);
    }

    .containerTitle{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }    

    .containerContact, .contactItem {
        display: flex;
        flex-direction: column;
        justify-content: left;
        align-items: left;
    }

    .logo {
        width: 35px;
        margin-right: 10px;
        opacity: 0.7;
        transition: opacity 0.5s ease;
    }

    .logoText {
        font-size: 16px;
    }
  }

  @media (max-width: 620px) {
    body {
        background: linear-gradient(90deg, rgb(0, 0, 0) 20%, #7028ff 100%);
    }
  }