/* Profile */
.containerProfile{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 48.1vw;
    background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(48, 46, 46) 55%, #FFFFFF 100%);
    border-radius: 0 0 0px 0px;
    padding: 1vw;
}

@media (max-width: 768px) {
    .containerProfile {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        width: 100%;
        height: 202.6vw;
        background: linear-gradient(90deg, rgb(0, 0, 0) 0%, rgb(48, 46, 46) 55%, #FFFFFF 100%);
        border-radius: 0 0 0px 0px;
        padding: 1vw;
    }
}

.containerLeftItemsProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.containerTextProfile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 3vw;
}

@media (max-width: 768px) {
    .containerTextProfile {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding-left: 24vw;
    }
}

.titleProfile {
    font-family: Garamond;
    font-size: 8vw;
    font-weight: bold;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .titleProfile {
        font-family: Garamond;
        font-size: 18vw;
        font-weight: bold;
        margin: 0;
        padding: 0;
        padding-right: 20vw;
    }
}

.textProfile {
    font-family: Garamond;
    font-size: 2vw;
    margin: 0;
    padding: 0;
}

@media (max-width: 768px) {
    .textProfile {
        font-family: Garamond;
        font-size: 4vw;
        margin: 0;
        padding: 0;
    }
}

.containerBackgroundProfile {
    display: flex;
    margin-left: auto;
}

@media (max-width: 768px) {
    .containerBackgroundProfile {
        display: flex;
        margin-left: auto;
        padding-right: 19vw;
        padding-bottom: 20vw;
    }
}

.img-profile {
    opacity: 0.7;
    transition: all 0.5s;
    border-radius: 500px;
    width: 41vw;
    height: 41vw;
}

.img-profile:hover {
    opacity: 1;
    animation: none;
    -webkit-filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
    filter: drop-shadow(15px 10px 5px rgba(0,0,0,.5));
}

@media (max-width: 768px) {
    .img-profile {
        opacity: 0.7;
        transition: opacity 0.5s ease;
        border-radius: 50px;
        width: 60vw;
        height: 60vw;
    }
}

.img-profile:hover + .containerTextProfile .titleProfile,
.img-profile:hover + .containerTextProfile .textProfile {
    animation: waveAnimation 1s infinite;
}

.waveAnimation {
    animation: waveAnimation 1s infinite;
}

@keyframes waveAnimation {
    0% { transform: translateY(0); }
    25% { transform: translateY(-5px); }
    50% { transform: translateY(0); }
    75% { transform: translateY(5px); }
    100% { transform: translateY(0); }
}