.accordionResponsive {
    padding-top: 1vw;
    display: flex;
    justify-content: center;
}

@media (max-width: 768px) {
    .accordionResponsive {
        display: flex;
        justify-content: center;
        padding-top: 2vw;
    }
}

.accordionResponsiveCollapse {
    max-width: 28vw;
}

@media (max-width: 768px) {
    .accordionResponsiveCollapse {
        max-width: 80vw;
    }
}