@keyframes typingAnimation {
    from {
      width: 0;
    }
    to {
      width: 27%;
    }
  }
  
  .navbar-brand-typing {
    position: relative;
    overflow: hidden;
    display: inline-block;
    animation: typingAnimation 3s steps(40, end) 0s forwards;
    animation-fill-mode: forwards;
    padding-left: 3.5vw;
    font-family: 'Brush Script MT', 'Brush Script Std', 'cursive';
    font-style: italic;
  }

  .navbar {
    z-index: 1;
  }

  .NavbarItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 2vw;
    height: auto;
    font-family: 'Roboto', sans-serif;
  }
  

  .nav-link {
    text-decoration: none;
    border-radius: 5px;
    transition: background-color color 0.3s ease;
  }
  
  .nav-link:hover {
    color: #767676;
  }

  @media (max-width: 1300px) {
    .navbar-brand-typing {
      animation: typingAnimation 1s steps(40, end) 0s;
    }
  }

  @media (max-width: 768px) {
    .navbar-brand-typing {
      animation: typingAnimation 3s steps(50, end) 0s;
    }
  
    @keyframes typingAnimation {
      from {
        width: 0;
      }
      to {
        width: 100%;
      }
    }

    .NavbarItems {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 80vw 0 0;
      font-family: 'Roboto', sans-serif;
    }
  }