@keyframes typingAnimation {
    from {
      width: 0;
    }
    to {
      width: 20.4%;
    }
  }
  
  .navbar-brand-typing {
    position: relative;
    overflow: hidden;
    display: inline-block;
    animation: typingAnimation 3s steps(40, end) 0s forwards;
    animation-fill-mode: forwards;
    color: #FFFFFF;
  }
  
  .navbar {
    z-index: 1;
  }
  
  .nav-link {
    text-decoration: none;
    padding: 5px 10px;
    border-radius: 5px;
    color: #FFFFFF;
    transition: background-color color 0.3s ease;
  }
  
  .nav-link:hover {
    background-color: #DDDDDD;
    color: #333333;
  }