html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    max-width: 100vw;
}

footer {
    margin: 0;
    padding-right: 10vw;
    padding-left: 10vw;
    width: 100%;
    height: 100%;
    display: flex;
}

.outer-footer {
    width: 100%;
    height: 100%;
    display: flex;
}

.containerFooter {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 1vw;
    flex-direction: row;
    align-items: center;
}

.name-footer {  
    width: 100%;
    height: 100%;
    padding: 1vw;
}

.nameFooterText {
    display: flex;
    margin: 0;
    padding: 0;
    font-size: 0.8vw;
}

@media (max-width: 768px) {
    .nameFooterText {
        display: flex;
        margin: 0;
        padding: 0;
        font-size: 2vw;
    }
}

.contact-footer {
    width: 100%;
    height: 100%;
    padding: 1vw;
    padding-right: 2vw;
    display: flex;
    justify-content: right;
}

.contact-footer a {
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease-in-out;
}
  
.contact-footer a:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.contact-footer i {
    margin-right: 0.1vw;
    text-decoration: none;
    color: inherit;
    transition: transform 0.3s ease-in-out;
}
  
.contact-footer i:hover {
    -webkit-transform: scale(1.2);
    transform: scale(1.2);
}

.iconsContact {
    margin: 0;
    padding: 0;
    font-size: 1.5vw;
}

@media (max-width: 768px) {
    .iconsContact {
        margin: 0;
        font-size: 3.8vw;
    }
 }

a {
    text-decoration: none;
    color: inherit;
}